.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
h2 {
  font-size: 30px;
  font-weight: 500;
}
button {
  width: 200px;
  height: 100px;
  font-size: 18px;
  color: whitesmoke;
  background-color: #3333ad;
  border-style: inset;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px #054458;
}
button:active {
  border-style: none;
}
ul {
}
li {
  font-size: 24px;
  text-align: left;
}
